.double {
        display: flex;
}

.sidebar {
        width: 20%;
}

.mainbar {
        width: 80%;
}

.product-list {
        display: flex;
        flex-wrap: wrap;
}

.product-list article {
        width: 30%;
        margin: 1%;
}

.delete {
        margin-left: 2rem;
}
