<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
        <link rel="stylesheet" href="/static/pico.min.css">
        <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <header class="container-fluid">
                <nav>
                        <ul>
                                <li><strong><a href="/">Shop</a></strong></li>
                        </ul>
                        <ul>
                                <li><a href="/admin">Admin</a></li>
                        </ul>
                </nav>
        </header>
        <main class="container-fluid">
                {{template "body" .}}
        </main>
</body>
</html>