{{define "body"}}
        <h2>Edit product "{{.Name}}"</h2>

        <form method="post" enctype="multipart/form-data">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="{{.Name}}">

                <label for="slug">Slug</label>
                <input type="text" id="slug" name="slug" value="{{.Slug}}">

                <label for="detail">Detail</label>
                <textarea name="detail" id="detail">{{.Detail}}</textarea>
                
                <label for="category">Category</label>
                <select name="category" id="category">
                        {{range .Categories}}
                                <option 
                                {{if eq .Id $.CategoryId}}
                                        selected
                                {{end}}
                                value="{{.Id}}">
                                        {{.Name}}
                                </option>
                        {{end}}
                </select>

                <label for="images">Images</label>

                <div class="thumbnails">
                        {{range .Images}}
                                <img width="100" src="/images/{{.Filename}}">
                                <a class="delete-image" href="/admin/images/delete/{{.Id}}">X</a>
                        {{end}}
                </div>
                <input multiple type="file" id="images" name="images">


                <input type="submit" value="Submit">
        </form>
{{end}}