{{define "body"}}
        <div class="double">
                <div class="sidebar">
                        {{range .Categories}}
                                <div><a href="/category/{{.Slug}}">{{.Name}}</a></div>
                        {{end}}
                </div>

                <div class="product-list">
                        {{range .Products}}
                                <article>
                                        {{if .Filename}}
                                                <img src="/images/{{.Filename}}" alt="">
                                        {{else}}
                                                <img src="http://placehold.co/300">
                                        {{end}}
                                        <h2><a href="/products/{{.Slug}}">{{.Name}}</a></h2>
                                        <p>{{.Detail}}</p>
                                </article>
                        {{end}}
                </div>
        </div>
{{end}}